<div class="container-fluid page">
    <div style="text-align:center ;"><h1>About</h1></div><br><br>
  </div>
  <div class="container">
    
 </div>
      <div>
          

            <div class = "content">
                <h2>About Us</h2>
                <span><!-- line here --></span>
                <p>It is a About page .Which describes about the page!</p>
                <ul class = "links">
                    <li><a href = "#">Home</a></li>
                    <div class = "vertical-line"></div>
                    <li><a href = "#">Detail</a></li>
                    <div class = "vertical-line"></div>
                    <li><a href = "#">contact</a></li>
                </ul>
               
        
         
      </div>
    
