<div class="container-fluid page">
  <div style="text-align:center ;"><h1>Home</h1></div><br><br>
</div>
    
    <section>
      <div class = "image">
         <img src="https://cdn.pixabay.com/photo/2017/08/26/23/37/business-2684758__340.png">
      </div>

      <div class = "content">
          <h2>Home</h2>
          <span><!-- line here --></span>
          <p>It is a Home page.All the data regarding this site shown here .</p>
          <ul class = "links">
              <li><a >Home</a></li>
              <div class = "vertical-line"></div>
              <a routerLink="/about">
              <li><a href = "#">About</a></li>
              </a>
              <div class = "vertical-line"></div>
              <a routerLink="/contact">
              <li><a href = "#">Contact</a></li>
            </a>
          </ul>
          <ul class = "icons">
              <li>
                  <i class = "fa fa-twitter"></i>
              </li>
              <li>
                  <i class = "fa fa-facebook"></i>
              </li>
              <li>
                  <i class = "fa fa-github"></i>
              </li>
              <li>
                  <i class = "fa fa-pinterest"></i>
              </li>
          </ul>
      </div>
  </section>
  

